{% load reviews_extras %}

<div class="ticket">
    <p>{% get_poster_display ticket.user %} demandé une critique - {{ ticket.time_created }}</p>
    <p>{{ ticket.title }}</p>
    <p>{{ ticket.description }}</p>
    {% if ticket.image %}
        <img src="{{ ticket.image.url }}">

    {% endif %}
    {% if page == 'my_posts' and ticket.user == user %}
        <a href="">Modifier</a>
        <a href="">Supprimer</a>
<!--    TODO: compléter liens -->
    {% elif page == 'home' and review == None %}
        <a href="" >Créer une critique</a>
<!-- TODO: Ajouter liens -->
    {% endif %}
    <p> - - - - - - - - - - - </p>

</div>