{% extends 'base.html' %}
{% load reviews_extras %}
{% block content %}
    <br>
    <br>
    <a href="{% url 'new_ticket' %}">Demander une critique</a>
    <a href="">Créer une critique</a>

    {% for instance in tickets_and_reviews %}
        {% if instance|model_type == 'Ticket' %}
            {% include 'reviews/partials/ticket_snippet.html' with ticket=instance review=None %}

        {% elif instance|model_type == 'Review' %}
            {% include 'reviews/partials/review_snippet.html' with review=instance %}
        {% endif %}

    {% endfor %}

{% endblock content %}
