<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>LITReview</title>
    </head>
    <body>
        <h1>LITReview</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'home' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="{% url 'follows' %}">Abonnements</a>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        {% endif %}

        {% block content %}
        {% endblock content %}

    </body>
</html>